<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.dao.TagInfoMapper">

    <select id="getAllChildByParent" resultType="com.ws.vo.TagInfoVO" parameterType="long">
        WITH RECURSIVE temp AS (SELECT t.*
                                FROM sc_tag_info t
                                WHERE id = #{id}

                                UNION ALL

                                SELECT t1.*
                                FROM sc_tag_info t1
                                         INNER JOIN temp ON temp.id = t1.parent_id)
        SELECT *
        FROM temp;
    </select>

</mapper>